#container {
    width: 532px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-gap: 10px;
    background-color: dodgerblue;
}

.grid {
    width: 125px;
    height: 125px;
    display: flex;
    font-size: 2em;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.score {
    text-align: center;
}